@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(0, 0%, 100%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

#gpContent {
    line-height: 20px;
    margin: 0 325px 20px 0;
    background: transparent;
    border: none;
    position: relative;
    z-index: 5;
}

#page{
width: 912px; 
background-color:white; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
 

 
border: 1px solid LightGrey;
		
}

#pageOutline{
width: 930px; 
background-color:white; 
padding-bottom: 8px;
padding-top:8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
 top:62px;
  border: 1px solid #d2d3d6;
		
}



#gpWrapper1 {
    
    border: 0px solid red;
    width: auto;
    position: relative;
    padding: 0;
    z-index: 2;
}


#gpWrapper {
    width: 934px;
    border: 0px solid #D6D6D6;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
#bodyWrapper {
    line-height: 1;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 14px;

    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: #dae0e5;
    padding-top: 150px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 33px;
}
#gpWrapper2 {
    background: transparent url(/secure/images/jj/wrapper-right-bg.png) no-repeat right 70px;
    border: 0px solid blue;
    width: auto;
    position: relative;
    padding: 0;
    z-index: 3;
}


#gpHeader {
    height: 0;
    background: none;
    border: 0px solid black;
    margin: 0 20px;
    position: relative;
    z-index: 4;
}

#gpFoot {
    background: #FFF;
    border-top: 1px solid #d2d3d6;
    margin: 0 0px;
    text-transform: none;
    color: #b4bdc4;
    position: relative;
    padding: 15px;
}

